:root {
    --main-title-color: #16354D;
    --label-color: #000000;
}
@font-face {
    font-family: Syne-Main-Title;
    src: url("../../fonts/Syne/Syne-Medium.ttf");
}

@font-face {
    font-family: IBM-Label;
    src: url("../../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}



.main-title{
    font-family: 'Syne-Main-Title';
    font-size: 48px;
    line-height: 116.7%;
    color: var(--main-title-color);
}

label{
    font-family: 'IBM-Label';
    font-size: 20px;
    color: var(--label-color);
}