:root {
    --label-color: #000000;
}

@font-face {
    font-family: IBM-Label;
    src: url("../../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
}

#app {
    color: #2c3e50;
}

label{
    font-family: 'IBM-Label';
    font-size: 20px;
    color: var(--label-color);
}